.card-search {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    height: 600px;
    margin: auto;
    text-align: center;
    display: inline;
}



.image {
    width: 160px;
    height: 160px;
    background: url(../static/img/kendall.jpg) no-repeat scroll 0 0;
  }

  .image-index {
    width:500px;
    height: 200px;
    margin: 0px;
    background: url(../static/img/kendall.jpg) no-repeat scroll 0 0;
  }

  .object-fit_fill {
    object-fit: fill
  }

  .object-fit_contain {
    object-fit: contain
  }

  .object-fit_cover {
    object-fit: cover
  }

  .object-fit_none {
    object-fit: none
  }

  .object-fit_scale-down {
    object-fit: scale-down
  }