.card-search {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    display: inline;
}

.title-search {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}


.image {
    width: 160px;
    height: 160px;
    background: url(../static/img/kendall.jpg) no-repeat scroll 0 0;
  }

  .image-index {
    width:500px;
    height: 500px;
    background: url(../static/img/kendall.jpg) no-repeat scroll 0 0;
  }
  
  .object-fit_fill {
    object-fit: fill
  }
  
  .object-fit_contain {
    object-fit: contain
  }
  
  .object-fit_cover {
    object-fit: cover
  }
  
  .object-fit_none {
    object-fit: none
  }
  
  .object-fit_scale-down {
    object-fit: scale-down
  }