<!DOCTYPE html>
<html lang="en">
  <head>

    <title>WEDx</title>


    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/signUp.js"></script>




    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">Home</a></li>
            <li role="presentation"><a href="#">Sign In</a></li>
            <li role="presentation" class="active"><a href="#">Sign Up</a></li>
          </ul>
      <div class="jumbotron">
        <h1>Sign Up for WEDx</h1>
        <form class="form-signin">
        <label for="inputFName" class="sr-only">First Name</label>
        <input type="fname" name="inputFName" id="inputFName" class="form-control" placeholder="First Name" required autofocus>
        <label for="inputLName" class="sr-only">Last Name</label>
        <input type="lname" name="inputLName" id="inputLName" class="form-control" placeholder="Last Name" required autofocus>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="username" name="inputUsername" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required >

        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
      </form>
      </div>



      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>

    </div>

  </body>
</html>
