{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="header header-filter" style="background-image: url('../static/assets/img/examples/city.jpg');"></div>
<div class="profile-page">
    <div class="main main-raised col-md-12">
            <div class="profile-content col-md-12">
              <div class="content-section" >
                    <br/>
                    {{ utils.flashed_messages() }}
                    <br/>
                <div class="center">

                <div class="row">
                    <h3 class="title text-center"> <i class="material-icons"><i class="material-icons">filter_list</i></i> Filters </h3> <hr>
                {{ wtf.quick_form(form, button_map={'submit' : 'danger'}) }}
              </div>
            </div>

                </div>
            </div>


        </div>
     </div>

{% endblock %}
{% block scripts %}



<script>

$('#sliderDouble').noUiSlider({
	start: [18, 21] ,
	connect: true,
	range: {
	    min: 18,
	    max: 100
	}
});

</script>
{% endblock %}
