{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Dashboard{% endblock %}
{% block body %}

                <div class="header header-filter" style="background-image: url('../static/assets/img/examples/city.jpg');"></div>
                <div class="profile-page w3-animate-opacity">
                        <br/>
                        {{ utils.flashed_messages() }}
                        <br/>



                    <div class="main main-raised col-md-12">
                            <div class="profile-content col-md-3 text-left">

                               {{ wtf.quick_form(form, extra_classes="input-group form-control") }}                                    
                            </div>
                        </div>


                    </div>




{% endblock %}

                                            