{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Dashboard{% endblock %}
{% block body %}

                <div class="header header-filter" style="background-image: url('../static/assets/img/examples/city.jpg');"></div>
                <div class="profile-page">



                    <div class="main main-raised col-md-12">
                            <div class="profile-content col-md-3 text-left">
                          
                                    <div class="row">
                                        <div class="profile">
                                            <div class="avatar">
                                                <img src="../static/assets/img/konduru.jpg" alt="Circle Image" class="img-rounded img-responsive img-raised">
                                            </div>
                                            <div class="name">
                                                <h3 class="title">{{ profile.first_name}} {{ profile.last_name }}</h3>
                                                <h6><i class="fa fa-male fa-fw w3-margin-right w3-large w3-text-teal"></i>20</h6>
                                                <h6><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Chitoor</h6>
                                            </div>
                                            <div class="col-md-12 text-center">
                                                    <button class="btn btn-primary">Send Message</button>
                                            </div>
                                            <div class="col-md-12 text-center">
                                                    <button class="btn btn-primary">Send Message</button>
                                            </div>
                                        </div>   
                                    </div>
                                    <div class="description text-center">
                                        <h4> About </h4>
                                        <p>{{ profile.about }} </p>
                                    </div>



                                    
                            </div>
                            <div class="container col-md-9">
                                    
                                            
                                    <div class="input-bar col-sm-12 text-center">
                                            <div class="input-bar-item width100">
                                              <form class="form-inline">
                                                 <div class="form-group">
                                                    <input type="text" value="" placeholder="Search" class="form-control width100">
                                                </div>
                                                <div class="form-group">
                                                  <div class="input-bar-item">
                                                        <button class="btn btn-primary btn-round">
                                                                <i class="material-icons">search</i>
                                                        </button>
                                        
                                                         <a href="{{ url_for('advancedSearch') }}" class="btn btn-primary btn-round text-center">Advanced Search </a> 
                                                       
                                                  </div>
                                                </div>
                                                
                                              </form>
                                            </div>
                                            
                                                    
                                                    
                                          </div>
                                                    

                                            
                                           
                                        
                                    
                            </div>
                        </div>


                    </div>

                
                           
     
{% endblock %}
