{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Dashboard{% endblock %}
{% block body %}

                <div class="header header-filter" style="background-image: url('../static/assets/img/examples/city.jpg');"></div>
                <div class="profile-page">



                    <div class="main main-raised col-md-12">
                            <div class="profile-content col-md-3 text-left">

                                    <div class="row">
                                        <div class="profile">

                                            <div class="image">
                                                <img src= {{ image.image_path }} alt="" class="img-rounded img-raised object-fit_cover" >
                                            </div>
                                            <div class="name">
                                                <h3 class="title">{{ profile.first_name}} {{ profile.last_name }}</h3>
                                                <h6><i class="fa fa-male fa-fw w3-margin-right w3-large w3-text-teal"></i>25</h6>
                                                <h6><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i> {{ profile.current_location }}</h6>
                                            </div>
                                            <div class="col-md-12 text-center">
                                                    <button class="btn btn-primary">Send Message</button>
                                            </div>
                                            <div class="col-md-12 text-center">
                                                    <button class="btn btn-primary">Send Message</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="description text-center">
                                        <h4> About </h4>
                                        <p>{{ profile.about }} </p>
                                    </div>




                            </div>
                            <div class="container col-md-9">


                                    <div class="input-bar col-sm-12 text-center">
                                        <div class="input-bar-item width100">
                                            <form class="form-inline" action="/dashboard" method="POST">
                                               <div class="form-group">
                                                  <input type="text" name="text" value="" placeholder="Search" class="form-control width100">
                                              </div>
                                              <div class="form-group">
                                                <div class="input-bar-item">
                                                      <button class="btn btn-primary btn-round " type="submit" name="my-form">
                                                              <i class="material-icons">search</i>
                                                      </button>

                                                </div>
                                              </div>


                                            </form>
                                            </div>



                                            
  
                                            
                                            <a href="{{ url_for('advancedSearch') }}" class="btn btn-primary btn-round text-center">Advanced Search </a>
                                            <a href="{{ url_for('delete') }}" class="btn btn-primary btn-round text-center">Delete Account </a>





                                          </div>
                                          <div class="container col-md-12">
                                          <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>From</th>
                                                    <th class="text-left">Subject</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                    {% for message in messages %}
                                            <tr>
                                                <td class="text-center">{{ message.msgid }}</td>
                                                <td>{{ message.sender_username }}</td>
                                                <td class="text-left">{{ message.subject }}</td>
                                            </tr>
                                            {% endfor %}
                                            <tbody>



                                            </table>
                                            </div>






                            </div>
                        </div>


                    </div>




{% endblock %}
