{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block body %}

  }

  <!-- Sidebar -->
  <div class="content-section" >
    <div class="center">
      <h1>Edit Your Profile</h1>
      <div id="wrapper">

        <div class="profile-tabs">
            <div class="nav-align-center">
                <ul class="nav nav-pills nav-pills-primary " role="tablist">


              <li>
                  <a href="#basic" role="tab" data-toggle="tab">Basic Details</a>
              </li>
              <li>
                  <a href="#education" role="tab" data-toggle="tab">Education</a>
              </li>
              <li>
                  <a href="#emp" role="tab" data-toggle="tab">Employment</a>
              </li>
              <li>
                  <a href="#social" role="tab" data-toggle="tab">Social Media</a>
              </li>
              <li>
                  <a href="#img" role="tab" data-toggle="tab">Image Gallery</a>
              </li>
              <li>
                  <a href="#body" role="tab" data-toggle="tab">Body Details</a>
              </li>
              <li>
                  <a href="#preferences" role="tab" data-toggle="tab">Partner Preferences</a>
              </li>
          </ul>
      </div>
    </div>




    <div class="tab-content">
      <div id="basic" class="tab-pane fade in active">
        <h3>Basic Details</h3>
        {{ wtf.quick_form(form) }}
      </div>

      <div id="education" class="tab-pane fade">
        <h3>Education Details</h3>
        {{ wtf.quick_form(form1) }}
      </div>

      <div id="emp" class="tab-pane fade">
        <h3>Employment Details</h3>
        {{ wtf.quick_form(form2) }}
      </div>

      <div id="social" class="tab-pane fade">
        <h3>Social Media</h3>
        {{ wtf.quick_form(form3) }}
      </div>

      <div id="img" class="tab-pane fade">
        <h3>Gallery</h3>
        {{ wtf.quick_form(form4) }}
      </div>

      <div id="body" class="tab-pane fade">
        <h3>Body Details</h3>
        {{ wtf.quick_form(form5) }}
      </div>

      <div id="preferences" class="tab-pane fade">
        <h3>Partner Preferences</h3>
        {{ wtf.quick_form(form6) }}
      </div>

    </div>
  </div>
      <!-- /#sidebar-wrapper -->

      <!-- Bootstrap core JavaScript -->
    <script src="static/assets/js/jquermenu.js"></script>
    <script src="static/assets/js/bootstrap.bundle.min.js"></script>


    <br/>

  </div>
</div>
{% endblock %}
