{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block body %}

  <!-- Sidebar -->
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-lg-2">
      <nav class="navbar navbar-default navbar-fixed-side"  >
        <!-- normal collapsible navbar markup -->
            <ul class="sidebar-nav">

                <li>
                    <a href="#basic" role="tab" data-toggle="tab">Basic Details</a>
                </li>
                <li>
                    <a href="#education" role="tab" data-toggle="tab">Education</a>
                </li>
                <li>
                    <a href="#emp" role="tab" data-toggle="tab">Employment</a>
                </li>
                <li>
                    <a href="#social" role="tab" data-toggle="tab">Social Media</a>
                </li>
                <li>
                    <a href="#image" role="tab" data-toggle="tab">Image Gallery</a>
                </li>
                <li>
                    <a href="#body" role="tab" data-toggle="tab">Body Details</a>
                </li>
                <li>
                    <a href="#preferences" role="tab" data-toggle="tab">Partner Preferences</a>
                </li>
            </ul>
        </nav>
    <!-- /#sidebar-wrapper -->

    </div>
    <div class="col-sm-9 col-lg-10">
      <div class="content-section">
        <div class="center">
          <h1>Edit your profile</h1>
          <div id="wrapper">

            <br/>
            {{ wtf.quick_form(form) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

      <!-- Bootstrap core JavaScript -->
      <link href="static/assets/css/bootstrap.min.css" rel="stylesheet" />
      <link href="static/assets/css/navbar-fixed-side.css" rel="stylesheet" />


{% endblock %}
