{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block body %}

    function highLight()
    {
      var img = document.getElementById('myImage');
      img.style.border = "2px inset black";
    }
    </script>

<link rel=stylesheet type="text/css" href="../static/assets/css/image.css">

<div class="content-section" >
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
  <div class="center">
    <h1>Edit Your Profile</h1>
    <div id="wrapper">

      <div class="profile-tabs">
         <div class="nav-align-center">
             <ul class="nav nav-pills nav-pills-primary " role="tablist">
          <li>
              <a href="{{ url_for('editProfile') }}">Basic Profile</a>
          </li>
          <li>
              <a href="{{ url_for('editEducation') }}">Education</a>
          </li>
          <li>
              <a href="{{ url_for('editEmployment') }}">Employment</a>
          </li>
          <li>
              <a href="{{ url_for('editSocial') }}">Social Media</a>
          </li>
          <li>
              <a href="{{ url_for('editImages') }}">Gallery</a>
          </li>
          <li>
              <a href="{{ url_for('editBody') }}">Body Details</a>
          </li>
          <li>
              <a href="{{ url_for('editPreferences') }}">Partner Preferences</a>
          </li>
      </ul>
  </div>
</div>

      <h3>Gallery Details</h3>
    
      {% for pic in pics: %}
      <div class="image">
        <img src= {{ pic.image_path }} id="myImage" class="img-rounded img-raised object-fit_cover"  width="120" onclick = "highLight()" >
            
    </div>
      {% endfor %}
   
    
      <form method="POST" enctype="multipart/form-data" class="form-control">

    {{ form.hidden_tag() }}
    {{ form.image(multiple="multiple") }}
    {{ form.submit }}
    {{ form.skip }}
</form>
      <br/>

</div>
</div>

{% endblock %}
