{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                        <div class="image-index center w3-animate-opacity">
                                <img src= "../static/assets/img/wedx_logo.png" alt="" class="img-rounded object-fit_cover img-responsive">
                            </div>
                    <h3>Profiles worth sharing :)</h3>
                    <hr class="intro-divider center">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
