{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Dashboard{% endblock %}
{% block body %}

<div class="header header-filter" style="background-image: url('../static/assets/img/examples/city.jpg');"></div>
<div class="profile-page">
    <div class="main main-raised col-md-12">
            <div class="profile-content col-md-12">

                <div class="row">
                    <h3 class="title text-center"> <i class="material-icons"><i class="material-icons">filter_list</i></i> Results </h3> <hr>
                    
                <br>
                {% for profile in profiles %}
                <div class="w3-animate-left card-search col-md-3 ">
                    <img src="img.jpg" alt="John" style="width:100%">
                    <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
                    <p class="title-search">CEO & Founder, Example</p>
                    <p>Harvard University</p>
                    <a href="#"><i class="fa fa-dribbble"></i></a> 
                    <a href="#"><i class="fa fa-twitter"></i></a> 
                    <a href="#"><i class="fa fa-linkedin"></i></a> 
                    <a href="#"><i class="fa fa-facebook"></i></a> 
                    <p><a href="{{ url_for('viewProfile', user= profile.username) }}" class="btn btn-primary btn-round text-center"> View Profile </a></p>
                  </div>
                {% endfor %}

                    
                </div>
            </div>

            
        </div>
     </div>



{% endblock %}
{% block scripts %}
<script>
$('#sliderDouble').noUiSlider({
	start: [18, 21] ,
	connect: true,
	range: {
	    min: 18,
	    max: 100
	}
});
</script>
{% endblock %}

