{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block body %}

<div class="content-section" >
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
  <div class="center">
    <h1>Edit Your Profile</h1>
    <div id="wrapper">

      <div class="profile-tabs">
         <div class="nav-align-center">
             <ul class="nav nav-pills nav-pills-primary " role="tablist">
          <li>
              <a href="{{ url_for('editProfile') }}">Basic Profile</a>
          </li>
          <li>
              <a href="{{ url_for('editEducation') }}">Education</a>
          </li>
          <li>
              <a href="{{ url_for('editEmployment') }}">Employment</a>
          </li>
          <li>
              <a href="{{ url_for('editSocial') }}">Social Media</a>
          </li>
          <li>
              <a href="{{ url_for('editImages') }}">Gallery</a>
          </li>
          <li>
              <a href="{{ url_for('editBody') }}">Body Details</a>
          </li>
          <li>
              <a href="{{ url_for('editPreferences') }}">Partner Preferences</a>
          </li>
      </ul>
  </div>
</div>

      <h3>Social Media Details</h3>
      {{ wtf.quick_form(form, extra_classes="input-group form-control") }}
      </div>

      <br/>

</div>
</div>

{% endblock %}
