{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block body %}

<div class="content-section" >
         <div class="center">

        <div class="form-group">
                <input type="file" name="file[]" multiple="" value="" placeholder="Regular" class="form-control" />
                <button class="btn btn-primary" type="submit" name="submit">Upload</button>

            </div>
            </div>
</div>




{% endblock %}